<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Este projeto tem a finalidade de testar meus conhecimentos em angular
    </mat-card-subtitle>

    <mat-card-header>
        <img mat-card-avatar src="assets/img/profile.jfif">
        <mat-card-subtitle>
          Ontem
        </mat-card-subtitle>
        <mat-card-title>Gustavo Borges</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/imgcard.jpg">
      <mat-card-content>
        <p>O presente projeto é um CRUD de produtos, com algumas funcionalidades utilizando o angular material e Flex Layout </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout="row">
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <span fxFlex></span>
          <button mat-button>
            More Info
          </button>
        </div>
      </mat-card-actions>
</mat-card>

<mat-card class="home mat-elevation-z3">
  <mat-card-header>
      <img mat-card-avatar src="assets/img/profile.jfif">
      <mat-card-subtitle>
        Ontem
      </mat-card-subtitle>
      <mat-card-title>Gustavo Borges</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/imgcard.jpg">
    <mat-card-content>
      <p>O presente projeto é um CRUD de produtos, com algumas funcionalidades utilizando o angular material e Flex Layout </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div fxLayout="row">
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <span fxFlex></span>
        <button mat-button>
          More Info
        </button>
      </div>
    </mat-card-actions>
</mat-card>

