<mat-card class="home mat-elevation-z3" fxFlex fxLayout="column">


    <div class="box ">
        <img mat-card-image src="assets/img/linke.jfif ">
    </div>

    <div class="box profile ">
        <img mat-card-avatar src="assets/img/profile.jfif ">
    </div>

    <mat-card-header>
        <mat-card-title fxLayout="column" style="margin-left: -17px ;">Gustavo Borges</mat-card-title>
    </mat-card-header>

    <p>Student | Angular | Frontend | Javascript</p>


    <app-input-text [mensagem]=" 'Uberaba, Minas Gerais, Brasil' " (aoClicar)="aoClicarBtn($event) "></app-input-text>
    <app-stepper></app-stepper>
</mat-card>
