:host {
  height: 100%;
}
.mat-card {
  text-align: center;
  display: block;
  padding: 32px;
  border-radius: 8px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.logo {
  max-height: 45px;
  padding: 15px;
}
.btn {
  color: white;
  background-color: #5c77ff; 
}
.icon:hover{
  cursor: pointer;
  color: red;
  
}

.example-container{
  padding-bottom: 15px;
  width: 100%;
 
}

.example-h2 {
  margin: 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  
}

.example-margin {
  margin: 0 10px;
}
