.main{
    height: 35px;
    
}
.icon-menu{
    display: flex;
    cursor: pointer;
    margin-left: 20px;
    
}

.lagout{
    cursor: pointer;
    padding-right: 8px;
}
.people {
    cursor: pointer;
    color: blue;
    padding-right: 15px;
}


