.header {

    background: #3f51b5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px; 
    margin-left: 175px;  
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .title-group{
    border-radius: 40px;
    background-color: #518ca2;
    z-index: 9;
    width: 90px;
}

.header .title-group i{
    padding-left: 5px;
    color: white;
}

.header .title-group strong{

    color: white;
    text-align: center;
}
