<mat-toolbar-row>

  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <mat-icon class="icon-menu" mat-button (click)="toggleMenu()">
        menu
      </mat-icon>
    </div>

    <div fxFlex fxLayoutAlign="end">
      <span class="lagout" mat-button [matMenuTriggerFor]="menu">
        Gustavo Borges
      </span>

      <mat-icon class="people" mat-button [matMenuTriggerFor]="menu">account_circle</mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          Profile
        </button>

        <button mat-menu-item routerLink="/login">
          Sair
          <mat-icon style="color: red; font-size: 21px;">logout</mat-icon>
        </button>

      </mat-menu>
    </div>

  </div>

</mat-toolbar-row>