<mat-toolbar class="header mat-elevation-z4">

    <span>
        <a routerLink="/auth/home">
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>

    <span class="title-group">
        <a routerLink="/auth/home">
            <i class="material-icons">
                home
            </i>
            <strong>Início</strong>
        </a>
    </span>

    <i routerLink="/login" style="margin-left: auto;">

        <button mat-button
            style="color:white; background-color: red; border-radius: 15px; cursor: pointer;">Sair</button>

    </i>

</mat-toolbar>